/* Product details container style */

/* .product_details {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: pic info;
}
.product_img {
    grid-area: pic;
}
.product_info {
    grid-area: info;
} */

img {
    max-width: 100%;
    height: auto;
}

div.form-order {
    padding-bottom: 20px;
}